/**
 * Basic typography style for copy text
 */
@font-face
  font-family: 'Daydream'
  // src: url("~@/assets/fonts/OpenDyslexic/OpenDyslexic-Regular.eot")
  src: url("/fonts/Daydream.ttf") format('truetype')
  font-style: normal
  font-weight: normal
